
/* GENERAL */

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;

}


h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
    font-family: "helvetica";
    font-weight: 400;
    color: #1d1d1d!important;
}


a,
button {
    transition: all .3s ease-in-out;
    outline: none!important;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}
.wrapper{
    margin: 0 auto;
    width: calc(100% - 50px);
    max-width: 1440px;
    min-width: 20px;
}


/*HEADER*/

header{
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.logo-header{
    height: 100%;
    width: auto;
    display: flex;
}

nav ul{
   display: flex;

}
.liens-navigation{
    padding: 0;
}


nav ul li {
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li a {
  font-size: 24px;
}


/*Block introduction*/
.intro-block{
    background-image: url(/img/agence-la-panthere.jpg);
    height: 400px;
    display: flex;
    align-items: center;
    backdrop-filter: saturate(80%);
    position: relative;
}



.intro-block ::before {
    content: "";
    background: url(/img/texture-paper.png);
    background-size: 280px 280px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}
.hero-container h1 {
    text-transform: uppercase;
    font-size: 36px;
    color: #FFF;
}




/*Section produit*/ 


.bloc-produits{
    height: auto;
}


.title-h2{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}


.partie-produits{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.produit{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
    text-align: center;
}


.citation-bloc{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.text-center{
    height: 50px;
}
.et-icon-browser.sm-shadow.icon-dark-slate-blue.icons.icon-lg{
    height: 200px;
}

.citations-display{
    width: 60%;
    text-align: center;
    font-size: 24px;
}

.bloc-what-i-do{
    background-image: url(/img/image-de-presentation.bmp);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bloc-what-i-do ::before {
    content: "";
    background: url(/img/texture-paper.png);
    background-size: 280px 280px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}


.dodo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.what-i-do-container{
    margin-top: 65px ;
    margin-bottom: 65px;
    padding: 4%;
    width: 50%;
    background-color: rgba(165, 147, 99, 0.7);
    height: auto;
    text-align: center;
}

.text-centered{
    color: #efefef!important;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.undertext-centered{
    color: #efefef!important;
}

.link-go-page2{
    color: #efefef!important;
}